
body{
  background-color: #FCF5E5;
}
#logo-page{
  background-color: white;
}

#gemCount{
  color: black;
  font-family: "MedievalSharp",serif;
  font-size: 40px;
  margin-top: 10px;
  padding: 10px 20px;
}
/* CSS FOR GAME */
#bossimage{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 20rem;
} 
#correctdisplay{
    background-color: green;
}
#wrongdisplay{
    background-color: maroon;
}
.center button {
    background-color: gray;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

progress {
    width: 50%;
    height: 20px;
    appearance: none;
    border: none;
    background-color: #f3f3f3;
    border-radius: 10px;
    overflow: hidden;
  }
  
progress::-webkit-progress-bar {
    background-color: #f3f3f3;
    border-radius: 10px;
  }
  
progress::-webkit-progress-value {
    background-color: maroon;
    transition: width 0.5s ease-in-out;
  }
  
progress::-moz-progress-bar {
    background-color: maroon;
    transition: width 0.5s ease-in-out;
  }
progress.progress-inner::-webkit-progress-value {
    background-color: var(--progress-color, maroon);
    transition: width 0.5s ease-in-out;
  }
  
progress.progress-inner::-moz-progress-bar {
    background-color: var(--progress-color, maroon);
    transition: width 0.5s ease-in-out;
  }

.center {
  font-family: "Eagle Lake", serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }

#userbox {
  margin-bottom: 2%;
}
/*Timer CSS*/
*{
  box-sizing: border-box;

  padding: 0;
}
.countdown {
  font-family: "Bokor", serif;
  width: 100%;
  height: 30px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2%;
  margin-bottom: 2%;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(1deg); }
  100% { transform: translate(-1px, -2px) rotate(-1deg); }
}
#dmgindicatoranim{
  
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.1s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: 1;
}
#dmgindicatorcolor{
    position: absolute;
    top: 0; left: 0;
    height: 100vh;
    width: 100vw;
    z-index:1;
    background-color:red;
    opacity: 10%;
    display: none;
}
@keyframes slash{
  0% { transform: translate(0px, 0px) rotate(45deg); width:300px; opacity:20%}
  50% { transform: translate(400px, 400px) rotate(45deg);  width:600px; opacity:100%}
  100% { transform: translate(600px, 600px) rotate(45deg); width:200px; opacity:20%}}

.slashanimation{
    position: absolute;
    top: 10; left: 30%;
    z-index:1;
    width: 200px;
    height:50px;
    border-radius: 50%;
    background-color: grey;
    display: none;
}
#slashanimationanim{
    animation: slash 0.2s;
}


/* FIND WHERE THIS IS USED 
p{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;

}*/
.progress {
  width: 50%;
  height: 20px;
  background-color: grey;
  margin-bottom: 3%;
}
.progress-inner {
  position: absolute;
  width: 50%;
  height: 20px;
}
.btn-start {
  padding: 5px;
  width: 10%;
  font-size: 10px;
  background-color: red;
  color: white;
  border: 0;
  outline: none;
}
/* CSS FOR GAME END */
/* CSS FOR STARTUP LOGOS*/
img#logo{
    max-height: 800px;
}
#logo{

    display: flex;
    margin-top: 7%;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
#dooranim{
    animation: doorzoom 1s forwards;}
@keyframes doorzoom {
  from {
    transform: scale(1);}
  to {
    transform: scale(10);}
  
}
@media only screen and (max-width: 600px) {
  #logo{
      display: flex;
      margin-top: 50%;
      margin-bottom: auto;
      margin-left: -50%;
      margin-right: auto;
      width: 200%;}    
}
#door{
  background-color: aquamarine;
}
/* FIND WHERE THIS IS USED 
p {
  font-size: 20px;
  font-weight: bold;
  color: black;
}*/
/* CSS FOR STARTUP LOGOS END*/
/* CSS FOR LOGIN TROPHY START*/
body#login-page{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f9;
}

.login-container {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center;
  width: 90%;
  max-width: 800px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  margin-bottom: 30px;
}

/* Register and Login Container */
#register {
  font-family: "Eagle Lake", serif;
  display: none;
  color: #954535;
}

#login {
  font-family: "Eagle Lake", serif;
  color: #954535;
}
.form-row {
  display: flex; /* Align Register and Login side by side */
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}
.loginform button {
  height:"800px";
  width:"1000px";
  color: brown;
  font-family: "MedievalSharp", serif;
  font-size: 20px;
}


input {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Responsive Design */
@media (max-width: 600px) {
  .form-row {
    flex-direction: column;
    align-items: center;
  }

  #register, #login {
    width: 100%;
    margin: 10px 0;
  }
}
.top-container {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center;
  justify-content: flex-start;
  width: 90%;
  max-width: 800px;
  min-height: 100vh;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.trophy-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 trophies per row */
  gap: 20px; /* Spacing between trophies */
  justify-content: center;
  flex-wrap: wrap;
}

.trophy {
  text-align: center;
  padding: 10px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 150px;
}

.trophy img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 10px;
}

.trophy-name {
  font-size: 16px;
  font-weight: bold;
}

#overlay-black{
  position: absolute;
  top: 0; left: 0;
  height: 100vh;
  width: 100vw;
  z-index:1;
  background-color:black;
  animation-name:fadeIn;
  animation-duration:1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from{
      opacity: 1;
  }
  to{
      opacity: 0;
  }
}
/* CSS FOR LOGIN TROPHY END*/
/* CSS HOME*/
.nav{
  width: 100%;
  background-color: #888;
  padding: 10px 20px;
  position: sticky;
}
.nav ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  color: black;
}
.nav li{
  flex:1;
  text-align: center;
  font-size: 35px;
  font-family: "MedievalSharp",serif;
  display: inline;
  
}
.nav a{
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  display: block;
  transition: 0.5s;}
.nav a:hover{
  color: whitesmoke;
  
}
.menu button {
  height: 3%;
  width: 20%;
  font-family: "Eagle Lake", serif;
  font-size: 20px;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 2%;
  margin-right: 2%;
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 30%;
}
.menu{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 2%;
  margin-right: 2%;
  background-color: grey;
  width: 96%;
  height:70%;
  box-shadow:0px 0px 20px rgba(0, 0, 0, 0.4);
  gap: 20px;
}
.menuitem{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: beige;
  height: 40%;
  width: 99%;
}
.sketchfab-embed-wrapper{
  display: flex;
  margin-left: 7%;
  margin-right: 7%;
  background-image: url('assets/dungeonBackground.png');
  background-size: cover;
  margin-bottom: 2%;
  flex-shrink: 1;
  height: 50%;
  width: 100%;
}
.description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  background-color: burlywood;
  width: 85%;
  height: 20%;
}
.description p{
  overflow-y: auto;
  height: 200px;
  margin-top: 3%;
  margin-bottom: 2%;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 25px;
  font-family: "MedievalSharp", serif;
  font-weight: 400;
  font-style: normal;
}
.bosstitle1{
  font-size: 70px;
  font-family: "Eagle Lake", serif;
  justify-content: center;
  align-items: center;
  color: #5D3FD3;
}
.bosstitle2{
  font-size: 70px;
  font-family: "Eagle Lake", serif;
  justify-content: center;
  align-items: center;
  color: #D4AF37;
}
.bosstype {
  font-family: "Eagle Lake",serif;
  font-size: 30px;
  justify-content: center;
  align-items: center;
}

.home-bounty-title{
  font-size: 60px;
  font-family: "MedievalSharp", serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rewards{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  height: 100px;
  background-color: burlywood;
  width: 85%;
}
.rewards p{
  margin-left: 5%;
  margin-right: 5%;
  font-size: 40px;
  font-family: "MedievalSharp", serif;
  font-weight: 400;
  font-style: normal;
}

.overlay {
  position: fixed; 
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); 
  z-index: 2; 
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.overlaycontent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: beige;
  text-align: center;
  border: 1px solid #888;
  z-index: 3;
  width: 50%;
  height: 80%;
  overflow: auto;
  justify-content: center;
  align-items: center;
}

.overlaycontent p, .overlaycontent button{
  font-size: 40px;
}

.trophy{
height: 100px;
width: auto;
}
.trophybox{
  display: flex;
  flex-direction: row;
  align-items: center;
}
/*SHOP START
COST BUTTON */
#statshop h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
}
.shopitem {
  margin-bottom: 3%;
}
.cost{
  font-size: 30px;
  height: auto;
  width: auto;
}
.trophies {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
}
.trophyDesc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 1%;
  background-color: darkgoldenrod;
  width: 20%;
  font-size: 40px;
  font-family: "MedievalSharp", serif;
  font-weight: 400;
  font-style: normal;
  padding:0;
}
.trophybutton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
  width: 12%;
}
.trophytype {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
}
/*Media Responive Bootstrap*/
.container {
  border: 1px solid red;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1536px;
  }
  #overlay-black {
    max-width: 1280px;
  }
  .logo {
    max-width: 1280px;
  }

  
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1280px;
  }
  #overlay-black {
    max-width: 1024px;
  }

  .logo {
    max-width: 1024px;
  }
  .menu {
    max-width: 1280px;
  }
  .sketchfab-embed-wrapper {
    max-width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 1024px;
  }
  #overlay-black {
    max-width: 1024px;
  }
  .logo {
    max-width: 768px;
  }
  .menu {
    max-width: 1024px;
  }
  
  @media (max-aspect-ratio: 3/2) {
    .sketchfab-embed-wrapper {
    max-width: 768px;
    width: 300px;
    }
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 768px;
  }
  #overlay-black {
    max-width: 768px;
  }
  .logo {
    max-width: 768px;
  }
  .menu {
    max-width: 768px;
    flex-wrap: wrap ;
  }
  @media (max-aspect-ratio: 3/2) {
    .sketchfab-embed-wrapper {
    max-width: 768px;
    width: 300px;
    }
  }
  .home-bounty-title {
    font-size: 30px ;
  }

}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 640px;
  }
  #overlay-black {
    max-width: 640px;
  }
    .logo {
      max-width: 640px;
    }
    .menu {
      max-width: 640px;
    }
    .sketchfab-embed-wrapper {
      max-width: 475px;
    }
  
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
  #bounty-title {
    font-size: 15px;
  }
}
/*MEDIA RESPONSIVE END*/